f8a_tagger/__pycache__/
f8a_tagger/parsers/__pycache__/
*.pyc
*.orig
venv/
venv-coala/
build/
f8a_tagger.egg-info/
dist/
.pytest_cache

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
